
<div class="w3-content w3-container w3-padding-64" id="bg">
  <h3 class="w3-center" style="text-align: center; color: aqua"><em>I love books</em></h3>
  <p style="font-size: 1.2em; text-align: center; color: red">Tôi tin rằng</p>
  <p style="font-size: 1.2em; text-align: center">nếu có một thứ mà càng mua nhiều lại càng giàu </p>
  <p style="font-size: 1.2em; text-align: center">thì đó là sách. </p>
  <p style="font-size: 1.2em; text-align: center; color: red">Đọc xong một cuốn sách </p>
  <p style="font-size: 1.2em; text-align: center">nếu nó không giúp bạn giàu lên về mặt tài chính </p>
  <p style="font-size: 1.2em; text-align: center">thì cũng là về mặt trí tuệ. </p>
  <p style="font-size: 1.2em; text-align: center">Mà chẳng phải trí tuệ vốn là nguồn gốc của mọi tài sản quý giá nhất mà bạn có thể thấy trên đời hay sao? </p>
  <p style="font-size: 1.2em; text-align: center; color: red">Bạn có để ý là khi mở ra </p>
  <p style="font-size: 1.2em; text-align: center">trông cuốn sách rất giống một cánh cửa không? </p>
  <p style="font-size: 1.2em; text-align: center; color: red">Đúng rồi! </p>
  <p style="font-size: 1.2em; text-align: center; color: red">Mở sách, là bạn đang mở cửa tới một hòm kho báu đấy! </p>
  <p style="font-size: 1.2em; text-align: center">Do đó, hãy ghi nhớ câu nói hay về đọc sách này </p>
  <p style="font-size: 1.2em; text-align: center">vì nó sẽ giúp bạn có thêm cảm hứng để đọc sách </p>
  <p style="font-size: 1.2em; text-align: center">để khám phá và làm giàu hòm kho báu bên trong mình. </p>
  <p style="font-size: 1.2em; text-align: center; color: red">Đọc sách có thể không giàu, nhưng không đọc, chắc chắn nghèo!</p>
</p>




