<div id="menu1">
<ul> 
<li><a><%= link_to 'Trạng thái mượn' , sachmuon_path %></a>
<li><a><%= link_to 'Sách đang mượn' , sachchuatra_path %></a>
<li><a><%= link_to 'Lịch sử mượn sách' , lichsuuser_path %></a>
</li>
</ul>
</div>