<div id="menu1">
<ul> 
<li><a><%= link_to 'Danh sách xác nhận mượn' , activeborrow_path %></a>
<li><a><%= link_to 'Danh sách mượn' , chuatra_path %></a>
<li><a><%= link_to 'Lịch sử mượn' , lichsu_path %></a>
<li><a><%= link_to 'Thư phản hổi' , thuphanhoi_path %></a>
</li>
</ul>
</div>