<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Đăng ký') %>
<div style="text-align: center; margin: 30px">
<p style="text-align: center">
<h3 class="w3-center">Đăng ký</h3> 
</span>
</span>
</p>

<%= render 'form', user: @user %>

</div>