<a class="w3-bar-item w3-button" 
style="color:yellow; margin: auto">  
<p style = "font-size: 1.2em; font-family: Times New Roman; font-weight: bold; margin: auto " >
Chào <%= @user.hoten %>
</p>
 <%= Date.current  %> <br>
</a>




