<footer class="w3-black w3-padding-35 w3-opacity w3-hover-opacity-off" style="margin-top:50px; width:100%">
<div id='map'>
<iframe style="margin-left: 70%" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.980952506661!2d106.6594227!3d10.7733305!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xef77cd47a1cc691e!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBCw6FjaCBraG9hIFRQLkhDTQ!5e0!3m2!1svi!2s!4v1563762879582!5m2!1svi!2s"
 width="650" height="250" frameborder="0" style="border:0" allowfullscreen>
 </iframe>
 </div>
<div id="muc">
<ul class="ul_footer">
</ul>
</div>
</footer>