<% if logged_in? %>
<div id="menu1">
<ul>
<% if current_user.admin %> 
<li><a><%= link_to 'Xem tất cả người dùng' , users_path %></a>
</li>
</ul>
<% end %>
<% unless current_user.admin %> 
<li><a><%= link_to 'Xem thông tin tài khoản' , current_user %></a></li>
<% end %>
</ul>
<% end %>